
@{
    ViewBag.Title = "categoryManagement";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Category Management</h2>

<div class="row">
<div class="col-md-6">
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="purple">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title"style="font-size:larger"><b>Category:</b></span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#profile" data-toggle="tab">
                                <i class="material-icons">bug_report</i> ADD
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#messages" data-toggle="tab">
                                <i class="material-icons">code</i> EDIT
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#settings" data-toggle="tab">
                                <i class="material-icons">cloud</i> DELETE
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Company (disabled)</label>
                                    <input type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Category Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>
                        </form>
                        <div class="tab-pane" id="messages">
                            <h1>ma</h1>
                        </div>
                        <div class="tab-pane" id="settings">
                            <h1>nt</h1>
                        </div>
                </div>
        </div>
    </div>
</div>
    </div>




    <div class="col-md-6">
        <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="purple">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title" style="font-size:larger"><b>Sub-Category:</b></span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#profile" data-toggle="tab">
                                    <i class="material-icons">bug_report</i> ADD
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#messages" data-toggle="tab">
                                    <i class="material-icons">code</i> EDIT
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#settings" data-toggle="tab">
                                    <i class="material-icons">cloud</i> DELETE
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Company (disabled)</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Category Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="tab-pane" id="messages">
                            <h1>ma</h1>
                        </div>
                        <div class="tab-pane" id="settings">
                            <h1>nt</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>